/* FOOTER-------------------------- */

/* Social items */
.footer-container {
  z-index: 3;
  bottom: 0;
  width: 100%;
  background-color: #212529;
}
.footer-container a {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  color: grey;
  text-decoration: none;
}
.footer-container a:hover {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  color: rgb(204, 181, 2);
  text-decoration: none;
}
.footer-container hr {
  color: gray;
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.ul-footer {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 30px;
  height: 30px;
}
.li-footer-instagram {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #212529;
}
.li-footer-instagram:hover {
  box-shadow: 0 0 30px rgb(219, 50, 117), 0 0 60px rgb(219, 50, 117);
}
.li-footer-watsup {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #212529;
}
.li-footer-watsup:hover {
  box-shadow: 0 0 30px rgb(17, 120, 18), 0 0 60px rgb(17, 120, 18);
}
.li-footer-vk {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #212529;
}
.li-footer-vk:hover {
  box-shadow: 0 0 30px rgb(34, 63, 168), 0 0 60px rgb(34, 63, 168);
}
.li-footer-youtube {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #212529;
}
.li-footer-youtube:hover {
  box-shadow: 0 0 30px rgb(219, 10, 10), 0 0 60px rgb(219, 10, 10);
}
.li-footer-phonenumber {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #212529;
}
.li-footer-phonenumber:hover {
  box-shadow: 0 0 30px rgb(223, 175, 16), 0 0 60px rgb(223, 175, 16);
}
.li-footer-telega {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #212529;
}
.li-footer-telega:hover {
  box-shadow: 0 0 30px rgb(34, 63, 168), 0 0 60px rgb(34, 63, 168);
}

/* ---body--- */
.body {
  min-height: 100vh;
}
