.basket-container {
  background-color: #cdcdc0;
  border-radius: 30px;
  color: black;
  margin-top: 100px;
  margin-bottom: 50px;
  border: 2px solid yellow;
  padding-top: 100px;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
.basket-header {
  display: flex;
  justify-content: space-around;
  color: #626d70;
}
.basket-body {
  min-height: 300px;
  /* flex-direction: column; */
}
.basket-footer {
  color: #626d70;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.basket-price {
  color: rgb(218, 72, 4);
}
.basket-pay {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.basket-img {
  display: flex;
  align-items: center;
}
.basket-img img {
  width: 50px;
  margin-right: 30px;
}
.basket-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
