.shopBlock {
  background-color: #cdcdc0;
  padding-bottom: 20px;
  margin-top: 66px;
}
/* ---shopHeader--- */
.shopHeader {
  background-color: #626d71;
  min-height: 80px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
