.shop-block {
  background-color: #cdcdc0;
  padding-bottom: 20px;
  margin-top: 66px;
}
/* ---shopHeader--- */
.shop-header {
  background-color: #626d71;
  min-height: 80px;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.shop-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.shop-card-container a {
  text-decoration: none;
  color: black;
}
.shop-card-container a:hover {
  text-decoration: none;
  color: black;
}
.basket-style {
  margin: 20px;
}
