.container-partners {
  max-width: 1600px;
  margin: auto;
  min-height: 800px;
  font-size: 16px;
  position: relative;
  background-color: black;
}
.container-partners::before {
  content: '';
  position: absolute;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('./../../Assets/img/home-background.webp') 50% / cover
    no-repeat;
  background-position: center;
}
.tittle-partners {
  position: relative;
  color: white;
}
.partner-card {
  margin: 10px;
  padding: 5px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
}
.partner-card img {
  max-width: 80px;
}
.line1 {
  justify-content: center;
}
.line2 {
  justify-content: space-between;
}
