.search-root {
  display: flex;

  width: 200px;
  position: relative;
}
.search-input {
  padding: 5px 10px;
  padding-left: 40px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid rgb(227, 187, 12);
}
.search-root img {
  width: 20px;
  opacity: 0.5;
  height: 17px;
  position: absolute;
  left: 14px;
  top: 10px;
}
